@charset "UTF-8";
body {
  position: relative;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", Roboto, Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 18px;
  background-color: #f6f2f2; }

.btn {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #f6f2f2;
  line-height: 24px;
  border: none; }

.main-header {
  min-height: 80px; }

@-webkit-keyframes visible-sublevel {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

@keyframes visible-sublevel {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68.75%;
  margin-left: auto;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 1300px) {
    .main-nav {
      width: calc(100% - 410px); } }
  @media (max-width: 960px) {
    .main-nav {
      width: 96%;
      padding: 20px 0; } }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__list-item {
  position: relative;
  padding: 11px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .main-nav__list-item:hover {
    background-color: #e8a8a8;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in; }
    .main-nav__list-item:hover > ul {
      position: absolute;
      bottom: -144px;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 175px;
      margin: 0;
      padding: 0;
      background-color: #e8a8a8;
      list-style: none;
      -webkit-animation: visible-sublevel;
              animation: visible-sublevel;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in; }
      .main-nav__list-item:hover > ul > li {
        width: inherit;
        padding: 6px 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .main-nav__list-item:hover > ul > li:hover {
          background-color: #cccccc;
          -webkit-transition: background-color 0.2s ease-in;
          transition: background-color 0.2s ease-in; }
        .main-nav__list-item:hover > ul > li > a {
          font-size: 14px;
          color: #000000;
          line-height: 24px;
          text-align: center;
          text-decoration: none; }
  .main-nav__list-item > ul {
    display: none; }

.main-nav__list-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none; }

.main {
  display: table;
  width: 100%;
  height: 100%;
  margin-top: -80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1035px) {
    .main {
      margin-top: -120px; } }
  @media (max-width: 960px) {
    .main {
      width: 96%;
      margin-left: auto;
      padding-top: 120px; } }

.main__sidebar-form {
  display: table-cell;
  width: 31.25%;
  height: inherit;
  max-height: 100%;
  padding: 80px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000000; }
  @media (min-width: 1300px) {
    .main__sidebar-form {
      width: 410px; } }
  @media (max-width: 1035px) {
    .main__sidebar-form {
      padding-top: 120px; } }
  @media (max-width: 960px) {
    .main__sidebar-form {
      display: none; } }

.main__form-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid #f6f2f2; }

.main__form-input::-webkit-input-placeholder {
  color: #f6f2f2; }

.main__form-input:-moz-placeholder {
  color: #f6f2f2; }

.main__form-checkbox {
  display: none; }
  .main__form-checkbox:checked ~ .main__form-label::after {
    content: '✓';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    color: #000000; }

.main__form-label {
  position: relative;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #f6f2f2; }
  .main__form-label::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #f6f2f2; }

.main__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px; }

.main__form-btn {
  min-width: 80px;
  margin-right: 10px; }
  .main__form-btn--pink {
    background-color: #cd1f84; }
  .main__form-btn--blue {
    background-color: #1f2fcd; }

.main__page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }

.main__page-link {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  color: #000000;
  text-decoration: none; }
  .main__page-link.active {
    color: #d62020; }

.content {
  display: table-cell;
  width: 68.75%; }
  @media (min-width: 1300px) {
    .content {
      width: calc(100% - 410px); } }

.content__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px; }
  @media (max-width: 960px) {
    .content__inner-wrapper {
      padding: 0; } }
  @media (max-width: 687px) {
    .content__inner-wrapper {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.content__item {
  display: block;
  width: 140px;
  max-height: 210px;
  margin: 0 10px 20px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d3c27a; }
  @media (max-width: 687px) {
    .content__item {
      width: calc(33.33% - 20px); } }
  @media (max-width: 520px) {
    .content__item {
      width: calc(50% - 20px); } }
  @media (max-width: 400px) {
    .content__item {
      width: calc(100% - 20px); } }

.content__paragraph {
  margin: 0;
  font-size: 13px;
  line-height: 17px; }
