@-webkit-keyframes openModal {
  0%    { opacity: 0; left: -50%; }
  33%   { opacity: 0.8; left: 20%; -webkit-transform: skewX(45deg) scale(0.5); transform: skewX(45deg) scale(0.5); }
  66%   { opacity: 1; left: -20%; -webkit-transform: skewX(-45deg) scale(0.8); transform: skewX(-45deg) scale(0.8); }
  100%  { opacity: 1; left: 50%; -webkit-transform: skewX(0) scale(1); transform: skewX(0) scale(1); }
}

@keyframes openModal {
  0%    { opacity: 0; left: -50%; }
  33%   { opacity: 0.8; left: 20%; -webkit-transform: skewX(45deg) scale(0.5); transform: skewX(45deg) scale(0.5); }
  66%   { opacity: 1; left: -20%; -webkit-transform: skewX(-45deg) scale(0.8); transform: skewX(-45deg) scale(0.8); }
  100%  { opacity: 1; left: 50%; -webkit-transform: skewX(0) scale(1); transform: skewX(0) scale(1); }
}

/* Общие стили */
body {
  position: relative;

  width: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container--underlined::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  width: 1160px;
  height: 2px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #eeeeee;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
 }

.first-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.second-title {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.third-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 40px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e74246;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.btn--grey-black {
  color: #000000;

  background-color: #eeeeee;
}

.btn--grey-black:hover {
  background-color: #dfdfdf;
}

.btn--grey-black:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

/* index.html */
.main-header {
  width: 100%;
  min-width: 1200px;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #eeeeee;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: flex-start;
}

.logo-link {
  line-height: 0;

  opacity: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.3;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 484px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-list:last-of-type {
  width: 115px;
}

.nav-list:last-of-type .nav-list__item {
  padding-left: 0;
}

.nav-list__item {
  padding: 0 22px;
}

.nav-list__item:nth-of-type(4n+1){
  padding-left: 0;
}

.nav-list__item:nth-of-type(4n) {
  padding-right: 0;
}

.nav-list__link {
  display: inline-block;
  vertical-align: top;
  padding: 24px 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list__link:hover {
  color: #fb565a;
}

.nav-list__link:active {
  color: #000000;
  opacity: 0.3;
}

.nav-list__link--active {
  margin-bottom: -2px;
  border-bottom: 2px solid #fb565a;
}

.nav-list__link--cart {
  position: relative;

  padding-left: 40px;
}

.nav-list__link--cart::before{
  content: '';
  position: absolute;
  top: 31px;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url('../img/svg/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
}

.slider {
  position: relative;

  width: 100%;
}

.slider__radio-control {
  display: none;
}

.slider__slide {
  display: none;
  padding-top: 75px;
  padding-bottom: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: contain;
}

.slider__promo-text {
  display: block;
  margin-bottom: 28px;

  font-family: "Roboto", Verdana, sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider__slide-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.slider__slide-btn {
  padding-right: 54px;
  padding-left: 54px;
}

.slider__controls-wrapper {
  position: absolute;
  top: 75%;
  left: 50%;

  margin-top: -12px;
  margin-left: -43px;
}

.slider__control {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  margin: 0 7px;

  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider__control:first-of-type {
  margin-left: 0;
}

.slider__control:last-of-type {
  margin-right: 0;
}

.slider__control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 2px solid #c2c2c2;
  border-radius: 50%;
}

.slider__slide1 {
  padding-right: 750px;

  background-image: url('../img/index-slide1.png');
  background-position: 91% 50%;
}

.slider__slide2 {
  padding-right: 630px;

  background-image: url('../img/index-slide2.png');
  background-position: 96% 50%;
}

.slider__slide3 {
  padding-right: 730px;

  background-image: url('../img/index-slide3.png');
  background-size: 52% auto;
  background-position: 80% 100%;
}

#slide1:checked ~ .slider__slides-wrapper > .slider__slide1,
#slide2:checked ~ .slider__slides-wrapper > .slider__slide2,
#slide3:checked ~ .slider__slides-wrapper > .slider__slide3 {
  display: block;
}

#slide1:checked ~ .slider__controls-wrapper > .slider__control:nth-of-type(1)::after,
#slide2:checked ~ .slider__controls-wrapper > .slider__control:nth-of-type(2)::after,
#slide3:checked ~ .slider__controls-wrapper > .slider__control:nth-of-type(3)::after {
  display: block;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 82px;
}

.services-block__item {
  width: 300px;
  margin: 0 50px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-block__item:nth-of-type(3n) {
  margin-right: 0;
}

.services-block__item:nth-of-type(3n+1) {
  margin-left: 0;
}

.services-block__title {
  margin: 18px 0;
}

.services-block__paragraph {
  margin-bottom: 32px;
}

.services-block__btn--green {
  background-color: #00ca74;
}

.services-block__btn--green:hover {
  background-color: #00bc6c;
}

.services-block__btn--green:active {
  background-color: #00aa62;

  -webkit-box-shadow: inset 0 3px 0 0 #009958;

          box-shadow: inset 0 3px 0 0 #009958;
}

.services-block__btn--yellow {
  background-color: #efc84a;
}

.services-block__btn--yellow:hover {
  background-color: #eab534;
}

.services-block__btn--yellow:active {
  background-color: #e5a722;

  -webkit-box-shadow: inset 0 3px 0 0 #ce961f;

          box-shadow: inset 0 3px 0 0 #ce961f;
}

.main {
  padding-bottom: 80px;
}

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 52px;
}

.about-company__left-column {
  width: 660px;
  padding-top: 33px;
}

.about-company__promo-title {
  display: block;
  margin-bottom: 33px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about-company__paragraph {
  margin: 20px 0 39px;
}

.about-company__paragraph--bold {
  margin-bottom: 20px;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-company__paragraph--bold-center {
  text-align: center;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-company__list {
  list-style: none;
  padding: 0;
}

.about-company__list-item {
  position: relative;

  margin: 24px 0;
  padding-left: 35px;
}

.about-company__list-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-company__right-column {
  width: 500px;
  padding-left: 140px;
  padding-top: 223px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  background-image: url('../img/nerds-illustration.jpg');
  background-repeat: no-repeat;
  background-size: 72% auto;
  background-position: 100% 0;
}

.about-company__numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 43px 0 0;
  padding: 0;

  list-style: none;
}

.about-company__numbers-item {
  width: 33.3%;
  min-width: 100px;
  margin-bottom: 10px;

  line-height: 18px;
}

.about-company__numbers-text {
  margin-top: 15px;
  margin-bottom: 37px;

  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
}

.clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-block__link-img {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 182px;
  margin: 0 20px;

  text-align: center;
}

.clients-block__link-img::after {
  content: '';
  position: absolute;
  top: 64px;
  left: 279px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.clients-block__link-img:nth-of-type(4n+1) {
  margin-left: 0;
}

.clients-block__link-img:nth-of-type(4n) {
  margin-right: 0;
}

.clients-block__link-img:nth-of-type(4n)::after {
  display: none;
}

.clients-block__img {
  opacity: 0.2;
}

.clients-block__link-img:hover .clients-block__img {
  opacity: 1;
}

.clients-block__link-img:active .clients-block__img {
  opacity: 0.1;
}

.map-block {
  position: relative;

  width: 100%;
  min-width: 1200px;
  min-height: 415px;

  background-color: #e8e4db;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  overflow: hidden;
}

.map-block::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 58.5%;
  z-index: 2;

  width: 231px;
  height: 190px;
  margin-top: -118px;

  background-image: url('../img/map-point.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.map-block__interactive-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;
}

.map-block__contacts-wrapper {
  position: absolute;
  top: 54px;
  left: 50%;
  z-index: 2;

  width: 1200px;
  margin-left: calc( -1200px/2 );
}

.map-block__contacts-block {
  width: 320px;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
}

.map-block__title {
  margin-top: 0;
  margin-bottom: 22px;
}

.map-block__paragraph {
  margin-bottom: 18px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  line-height: 18px;
  color: #666666;
}

.map-block__paragraph:last-of-type {
  margin-bottom: 37px;
}

.map-block__btn {
  display: block;
  padding-right: 42px;
  padding-left: 42px;
}

.main-footer__footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 68px;
  padding-bottom: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 265px;
}

.main-footer__social-btn {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 78px;
  height: 78px;
  margin: 0 7px;

  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.main-footer__social-btn:hover {
  background-color: #e74246;
}

.main-footer__social-btn:active {
  background-color: #d7373b;
}

.main-footer__social-btn:first-of-type {
  margin-left: 0;
}

.main-footer__social-btn:last-of-type {
  margin-right: 0;
}

.main-footer__social-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 25px;
  height: 25px;
  margin-top: -12px;
  margin-left: -12px;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.main-footer__social-btn--vk::after {
  background-image: url('../img/svg/vk-icon.svg');
}

.main-footer__social-btn--fb::after {
  background-image: url('../img/svg/fb-icon.svg');
}

.main-footer__social-btn--inst::after {
  background-image: url('../img/svg/insta-icon.svg');
}

.main-footer__social-btn:active::after {
  opacity: 0.3;
}

.main-footer__promo {
  margin-left: 134px;
}

.main-footer__promo-text {
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.main-footer__paragraph {
  margin: 10px 0;

  line-height: 22px;
  color: #444444;
}

.modal-window {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 10;

  display: none;
  width: 960px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: calc( -960px/2 );
  padding: 65px 100px 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 50px 5px #5f5f5f;
          box-shadow: 0 20px 50px 5px #5f5f5f;

  -webkit-animation: openModal;

          animation: openModal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal-window__text-promo {
  display: block;
  margin-bottom: 26px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.modal-window__close-btn {
  position: absolute;
  top: 74px;
  right: 84px;

  width: 30px;
  height: 30px;
  padding: 0;

  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.modal-window__close-btn:hover {
  opacity: 1;
}

.modal-window__close-btn:active {
  opacity: 0.1;
}

.modal-window__close-btn::before,
.modal-window__close-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  width: 28px;
  height: 4px;
  margin-top: -2px;

  background-color: #fb565a;
}

.modal-window__close-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-window__close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact-form__input-block {
  width: calc(50% - 20px);
}

.contact-form__label{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 15px;

  font-weight: 700;
  line-height: 18px;
}

.contact-form__input,
.contact-form__textarea {
  margin-top: 10px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 3px;

  outline: none;
}

.contact-form__textarea {
  min-height: 115px;
  margin-bottom: 35px;
}

.contact-form__input::-webkit-input-placeholder,
.contact-form__textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.2);
}
.contact-form__input::-moz-placeholder,
.contact-form__textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.2);
}
.contact-form__input:-moz-placeholder,
.contact-form__textarea:-moz-placeholder {
  color: rgba(68, 68, 68, 0.2);
}
.contact-form__input:-ms-input-placeholder,
.contact-form__textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.2);
}

.contact-form__input:hover,
.contact-form__textarea:hover {
  border: 2px solid #b4b9bb;
}

.contact-form__input:hover::-webkit-input-placeholder,
.contact-form__textarea:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}
.contact-form__input:hover::-moz-placeholder,
.contact-form__textarea:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}
.contact-form__input:hover:-moz-placeholder,
.contact-form__textarea:hover:-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}
.contact-form__input:hover:-ms-input-placeholder,
.contact-form__textarea:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  border: 2px solid #000000;
}

.contact-form__input:focus::-webkit-input-placeholder,
.contact-form__textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}
.contact-form__input:focus::-moz-placeholder,
.contact-form__textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}
.contact-form__input:focus:-moz-placeholder,
.contact-form__textarea:focus:-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}
.contact-form__input:focus:-ms-input-placeholder,
.contact-form__textarea:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.contact-form__input--not-valid,
.contact-form__textarea--not-valid {
  border: 2px solid #e74246;
}

.contact-form__input--not-valid,
.contact-form__textarea--not-valid {
  color: #e74246;
}

.contact-form__btn {
  padding-right: 80px;
  padding-left: 80px;
}

/* inner.html */

.main-header--padding-bottom {
  padding-bottom: 35px;
}

.main-header__page-title {
  margin: 75px 0;
  text-align: center;
}

.main--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1px;
  padding-bottom: 60px;
}

.main__left-column {
  width: 260px;
}

.form-div {
  width: 100%;
  margin: 0 0 51px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: none;
}

.form-div:first-of-type {
  margin-top: 50px;
}

.form-div:nth-of-type(2) {
  margin-bottom: 46px;
}

.form-div__title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter {
  margin-top: 37px;
}

.range-filter__controls {
  position: relative;

  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;

  background: #f1f1f1;
  border-radius: 3px;
}

.range-filter__scale {
  height: 2px;

  background: #d7dcde;
}

.range-filter__bar {
  width: 66%;
  height: 2px;

  background: #00ca74;
}

.range-filter__toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-filter__toggle--min {
  left: 8%;
}

.range-filter__toggle--max {
  left: 62%;
}

.range-filter__price-controls {
  font-size: 0;
}

.range-filter__label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.range-filter__label:last-of-type {
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-filter____input:last-of-type {
  text-align: right;
}

.range-filter__input {
  width: 60px;
  margin-left: 9px;
  padding: 8px 10px;

  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-align: center;

  background: #f1f1f1;
  border: none;
  border-radius: 3px;
}

.form-div--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-div__input--display-none {
  display: none;
}

.form-div__label-styled {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  padding-left: 35px;
}

.form-div__label-styled:last-of-type {
  margin-bottom: 0;
}

.form-div__label-styled--radio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 4px solid #a6a6a6;
  border-radius: 50%;
}

.form-div__input--radio:checked + .form-div__label-styled--radio::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;

  width: 9px;
  height: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #a6a6a6;
  border-radius: 50%;
}

.form-div__label-styled--radio:hover::before {
  border: 4px solid #000000;
}

.form-div__input--radio:checked + .form-div__label-styled--radio:hover::after {
  background-color: #000000;
}

.form-div__input--radio:disabled + .form-div__label-styled--radio {
  opacity: 0.3;
}

.form-div__label-styled--checkbox::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;

  width: 23px;
  height: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 2px solid #a6a6a6;
  border-radius: 3px;
}

.form-div__input--checkbox:checked + .form-div__label-styled--checkbox::before {
  top: -1px;

  width: 27px;
  height: 27px;

  background-image: url('../img/svg/checkbox-on.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

  border: none;
  opacity: 0.4;
}

.form-div__label-styled--checkbox:hover::before {
  border: 2px solid #000000;
}

.form-div__input--checkbox:checked + .form-div__label-styled--checkbox:hover::before {
  opacity: 1;
}

.form-div__input--checkbox:disabled + .form-div__label-styled--checkbox {
  opacity: 0.3;
}

.form-btn {
  width: 100%;
}

.main__right-column {
  width: calc(100% - 260px - 140px)
}

.main__sort-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 760px;
  margin: 50px 0 38px;
}

.main__sort-title {
  width: 180px;
  margin-top: 6px;

  line-height: 18px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin-top: 4px;
  margin-left: 220px;
  padding: 0;

  list-style: none;
}

.sort-list--smaller {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60px;
  margin-left: 0;
}

.sort-list__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px;

  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  opacity: 0.3;
}

.sort-list__link--arrow {
  width: 0;
  height: 0;
  margin: 0 9px;

  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;

  border: 10px solid #000000;
  border-bottom: 0;
  border-left-color: transparent;
  border-left-width: 6px;
  border-right-color: transparent;
  border-right-width: 6px;
}

.sort-list__item:last-of-type .sort-list__link--arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sort-list__item:nth-of-type(3n+1) .sort-list__link {
  margin-left: 0;
}

.sort-list__item:nth-of-type(3n) .sort-list__link {
  margin-right: 0;
}

.sort-list__item:last-of-type .sort-list__link {
  margin-right: 0;
}


.sort-list__link:hover {
  opacity: 0.6;
}

.sort-list__link--active,
.sort-list__link:active {
  opacity: 1;
}

.main__products-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.product-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 360px;
  margin-bottom: 31px;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #e9e9e9;
  border: 1px solid #e5e5e5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.product-item__img {
  width: 360px;
  height: 576px;
}

.product-item:hover {
  background-color: #4d4d4d;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.product-item__visual-btn,
.product-item__visual-btn::before,
.product-item__visual-btn::after {
  position: absolute;
  top: 12px;
  left: 37px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
}

.product-item__visual-btn::before,
.product-item__visual-btn::after {
  content: '';
  top: 0;
}

.product-item__visual-btn::before {
  left: -23px;
}

.product-item__visual-btn::after {
  left: 23px;
}

.product-item__info-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 60px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #eeeeee;
}

.product-item:hover .product-item__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-item__info-title {
  margin: 7px 0;

  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.product-item__info-paragraph {
  max-width: 240px;
  max-height: 100px;
  margin: 7px 0;

  line-height: 18px;
  color: #666666;
  text-align: center;
  overflow: hidden;
}

.product-item__price-btn {
  margin-top: 25px;
  padding-right: 60px;
  padding-left: 60px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;
}

.pagination__item:first-of-type {
  margin-left: 0;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__item--active {
  background-color: #ffffff;
  border: 4px solid #dbdbdb;
}

.pagination__item--active:hover,
.pagination__item--active:active {
  border: none
}

.pagination__item--broader {
  width: auto;
  padding: 0 78px;
}
