include mixins/list.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Тестовая страница
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    link(href='css/style.min.css', rel='stylesheet')
  body
    header.main-header
      nav.main-nav
        - var data = {'ulclass' : 'main-nav__list', 'liclass' : 'main-nav__list-item', 'aclass' : 'main-nav__list-link', 'title': 'Title text', 'items' : [{'title' : 'Знакомства'}, {'title' : 'Места'}, {'title' : 'Общение', 'sublevel' : 'true', 'items': [{'title' : 'Написать сообщение'}, {'title' : 'Чаты'}, {'title' : 'Симпатии'}, {'title' : 'Опросы'}]}, {'title' : 'Блог'}, {'title' : 'Новое'}, {'title' : 'Конкурсы'}, {'title' : 'О\u00A0проекте'}]}
          +list(data)
    main.main
      form.main__sidebar-form(action='#', method='post')
        input.main__form-input(name='login', placeholder='Текстовое поле')
        input.main__form-input(type='password', name='password', placeholder='Пароль')
        input.main__form-checkbox(type='checkbox', id='agreement', name='agreement', checked)
        label.main__form-label(for='agreement')
          | Я согласен c пользовательским соглашением
        .main__btn-container
          button.btn.main__form-btn.main__form-btn--pink Отправить
          button.btn.main__form-btn.main__form-btn--blue(type='reset') Сброс
      section.content
        .content__inner-wrapper
          .content__item
            p.content__paragraph
              | Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.
          .content__item
            p.content__paragraph
              | Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.
          .content__item
            p.content__paragraph
              | Здесь краткое описание. Высота блока зависит от контента, но не более 210пх.
          .content__item
            p.content__paragraph
              | Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.
          .content__item
            p.content__paragraph
              | Здесь краткое описание. Высота блока зависит от контента, но не более 210пх. Количество таких элементов может быть любым.
          .content__item
            p.content__paragraph
              | Здесь краткое описание. Высота блока зависит от контента, но не более 210пх.
        - var data = {'ulclass' : 'main__page-list', 'liclass' : 'main__page-item', 'aclass' : 'main__page-link', 'title' : 'Title text', 'items' : [{'title' : '1'}, {'title' : '2', 'active' : 'true'}, {'title' : '3'}]}
          +list(data)
