body {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  color: #313333;

  background-color: #00417b;
}

.container {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.first-level-header,
.second-level-header,
.third-level-header,
.fourth-level-header {
  text-transform: uppercase;
}

.first-level-header {
  font-size: 42px;
  font-weight: 100;
  line-height: 48px;
}

.second-level-header {
  font-size: 30px;
  font-weight: 300;
}

.third-level-header {
  font-size: 20px;
  font-weight: 300;
}

.fourth-level-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}

.btn {
  display: block;

  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 30px;
  color: #85c0f6;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #145c9c;
  border: none;
}

.btn:hover {
  color: #dff3fd;

  background-color: #508dc5;
  cursor: pointer;
}

.btn:active {
  color: #cccccc;

  background-color: #4E83B9;
}

.paragraph_size_xs {
  font-size: 11px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 28px;
}

.paragraph_size_m {
  font-size: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 28px;
}

.paragraph_size_l {
  font-size: 30px;
  font-family: "Roboto", "Arial", sans-serif;
}

.paragraph_size_xl {
  font-size: 42px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 48px;
}

.site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.left-side {
  width: 80px;
  box-sizing: border-box;
}

.header-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.header-menu__item__link {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-size: 11px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #508dc5;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-repeat: no-repeat;
}

.header-menu__item__link:hover {
  color: #dff3fd;

  background-color: #508dc5;
}

.header-menu__item__link:active {
  color: #cccccc;

  background-color: #4E83B9;
}

.logo-1 {
  padding-top: 53px;
  padding-bottom: 18px;
  background-image: url("../img/logo-1.png");
  background-position: 24px 21px;
}

.logo-2 {
  padding-top: 57px;
  padding-bottom: 14px;
  background-image: url("../img/logo-2.png");
  background-position: 30px 15px;
}

.logo-3 {
  padding-top: 49px;
  padding-bottom: 8px;
  background-image: url("../img/logo-3.png");
  background-position: 31px 12px;
}

.logo-4 {
  padding-top: 53px;
  padding-bottom: 18px;
  background-image: url("../img/logo-4.png");
  background-position: 25px 21px;
}

.logo-5 {
  padding-top: 54px;
  padding-bottom: 17px;
  background-image: url("../img/logo-5.png");
  background-position: 21px 16px;
}

.logo-6 {
  padding-top: 54px;
  padding-bottom: 17px;
  background-image: url("../img/logo-6.png");
  background-position: 28px 19px;
}

.logo-7 {
  padding-top: 58px;
  padding-bottom: 21px;
  background-image: url("../img/logo-7.png");
  background-position: 26px 20px;
}

.right-side {
  width: 1120px;
}

.main-header {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
}

.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-header__left-block,
.main-header__right-block {
  width: 470px;
}

.main-header__left-block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -8px;
  margin-left: -5px;
  padding-top: 8px;
  box-sizing: border-box;
}

.main-header__right-block {
  padding-left: 20px;

  color: #ffffff;
}

.main-header__right-block__first-level-header {
  width: 255px;
  margin-top: 154px;
  margin-bottom: 25px;
  margin-left: -3px;
}

.main-header__right-block__first-level-header_weight_bold {
  font-weight: 700;
}

.main-header__right-block__paragraph {
  position: relative;

  width: 360px;
  margin-bottom: 32px;
  padding-left: 69px;

  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 28px;
  text-align: left;
}

.main-header__right-block__paragraph::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 0;

  width: 69px;
  height: 73px;

  background-image: url("../img/header-paragraph-img.png");
  background-repeat: no-repeat;
}

.main-header__right-block__button {
  padding-top: 7px;
  padding-right: 28px;
  padding-bottom: 8px;
  padding-left: 28px;
}

.main-header__right-block__paragraph_size_xs {
  margin-top: 114px;
  margin-left: -5px;
}

.main-main {
}

.product-promo {
  position: relative;
  width: 100%;
  padding-top: 113px;

  background-color: #fafafa;
}

.product-promo__gradient-block {
  background: -webkit-linear-gradient(90deg, rgba(241, 242, 242, 0.7019610000000001) 0%, rgba(241, 242, 242, 0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(241, 242, 242, 0.7019610000000001) 0%, rgba(241, 242, 242, 0) 100%);
  background: linear-gradient(0deg, rgba(241, 242, 242, 0.7019610000000001) 0%, rgba(241, 242, 242, 0) 100%);
}

.product-promo__first-level-header {
  margin-top: 0;
  margin-bottom: 65px;
  margin-left: -2px;

  color: #00417b;
  text-align: center;
}

.product-promo__third-level-header {
  margin-top: 0;
  margin-bottom: 55px;

  color: #00417b;
  text-align: center;
}

.product-promo__container-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: -50px;
}

.product-promo__container-block__block {
  width: 300px;
}

.product-promo__container-block__left-block__paragraph_size_m,
.product-promo__container-block__right-block__paragraph_size_m {
  margin-top: 91px;
  margin-bottom: 0;
}

.product-promo__container-block__left-block__paragraph_size_l,
.product-promo__container-block__right-block__paragraph_size_l {
  margin-top: 9px;
  margin-bottom: 0;

  color: #00417b;
}

.product-promo__container-block__left-block__list,
.product-promo__container-block__right-block__list {
  width: 205px;
  margin-top: 54px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  list-style: none;
}

.product-promo__container-block__left-block__list__item,
.product-promo__container-block__right-block__list__item {
  position: relative;
  padding-left: 19px;
  margin-bottom: 10px;
}

.product-promo__container-block__right-block__list__item:last-child {
  margin-bottom: 58px;
}

.product-promo__container-block__left-block__list__item::before,
.product-promo__container-block__right-block__list__item::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  display: inline-block;
  width: 5px;
  height: 5px;

  border-width: 2px;
  border-style: solid;
  border-color: #00417b;
  border-radius: 50%;
}

.product-promo__container-block__image {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-left: 38px;
}

.product-promo__container-block__image::after {
  content: "";
  position: absolute;
  bottom: -22px;
  right: -152px;

  width: 200px;
  height: 200px;

  background-image: url("../img/product-promo-ellipse.svg");
  background-repeat: no-repeat;
}

.product-promo__container-block__image__button {
  position: absolute;
  top: 151px;
  left: 33px;

  padding-right: 17px;

  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.product-promo__container-block__image__button::before {
  content: "+";

  display: inline-block;
  width: 54px;
  height: 54px;
  margin-right: 14px;
  box-sizing: border-box;
  vertical-align: middle;

  font-size: 35px;
  line-height: 52px;
  color: #5597d2;
  text-align: center;

  background-color: #00417b;
}

.product-promo__container-block__right-block {
  margin-left: 87px;
}

.product-promo__container-block__right-block__link_color_blue {
  display: inline-block;
  width: 95px;
  margin-top: -6px;
  margin-bottom: 127px;
  margin-left: 19px;

  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 20px;
  color: #145c9c;
  text-align: left;
}

.product-promo__container-block__right-block__paragraph_size_xs {
  margin-left: -5px;
}

.product-about {
  padding-top: 120px;
  background-color: #145c9c;
}

.product-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ffffff;
}

.product-about__container-block {
  margin-left: -10px;
  margin-right: -10px;
}

.product-about__left-block {
  width: 470px;
}

.product-about__left-block__second-level-header {
  position: relative;
  margin-left: 170px;
  margin-top: 50px;
  margin-bottom: 46px;

  font-size: 30px;
  line-height: 36px;
}

.product-about__left-block__second-level-header::before {
  content: "75";
  position: absolute;
  top: 32px;

  margin-left: -174px;

  font-size: 130px;
  font-weight: 700;
  text-align: left;
}

.product-about__left-block__paragraph_size_m {
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: -1px;

  line-height: 27px;
}

.product-about__left-block__paragraph_size_m + .product-about__left-block__paragraph_size_xs {
  margin-top: 176px;
  margin-left: -6px;
  margin-bottom: 32px;
}

.product-about__left-block__span_text-size_s {
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
}

.product-about__right-block {
  width: 490px;
}

.product-about__right-block__image {
  margin-left: -7px;
  position: relative;
}

.product-about__right-block__image::after {
  content: "";
  position: absolute;
  bottom: -82px;
  right: -72px;

  width: 200px;
  height: 200px;

  background-image: url("../img/product-about-ellipse.svg");
  background-repeat: no-repeat;
}

.product-about__right-block__image__link {
  position: absolute;
  bottom: -17px;
  right: 38px;

  display: inline-block;
  width: 60px;

  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 20px;
  color: #ffffff;

  cursor: pointer;
}

.product-about__right-block .product-type-block {
  margin-top: 72px;
  margin-left: 123px;
}

.product-about__right-block__checkbox-span__product-type,
.product-type-label {
  cursor: pointer;
}

.product-about__right-block__checkbox-span__product-type:not(checked) {
  position: absolute;
  opacity: 0;
}

.product-about__right-block__checkbox-span__product-type:not(checked) + .product-type-label {
  position: relative;

  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 76px;
}

.product-about__right-block__checkbox-span__product-type:not(checked) + .product-type-label:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 10px;

  width: 48px;
  height: 26px;

  background-color: #2366a1;
  border-width: 2px;
  border-style: solid;
  border-color: #5b8dba;
  border-radius: 10px;
}

.product-about__right-block__checkbox-span__product-type:not(checked) + .product-type-label:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 14px;

  width: 22px;
  height: 22px;

  background-color: #ffffff;
  border-radius: 6px;

  -webkit-transition: all .2s;

  transition: all .2s;
}

.product-about__right-block__checkbox-span__product-type:checked + .product-type-label:after {
  left: 36px;
}

.product-about__right-block__checkbox-span__product-type:focus + .product-type-label:before {
  box-shadow: 0 0 0 2px rgba(255,255,255,.5);
}

.product-about__right-block__checkbox-span {

  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 20px;
  color: #85c0f6;
}


.product-description {
  background-color: #ffffff;
}

.product-description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 101px;
}

.product-description__left-block,
.product-description__right-block {
  width: 470px;
}

.product-description__left-block {
  margin-right: 20px;
  padding-top: 111px;
}

.product-description__container__left-block__first-level-header {
  margin-top: 0;
  margin-bottom: 0;

  color: #00417b;
}

.product-description__container__left-block__first-level-header_weight_bold {
  font-weight: 700;
  line-height: 30px;
}

.product-description__container__left-block__paragraph_size_m {
  margin-top: 24px;
  margin-bottom: 28px;

  color: #00417b;
}

.product-description__container__left-block__paragraph_size_s {
  margin-top: 0;
  margin-bottom: 12px;
}

.product-description__container__left-block__paragraph_color_blue {
  color: #145c9c;
}

.product-description__container__right-block {
  margin-top: 217px;
  margin-left: auto;
}

.product-description__container__right-block__image {
  position: relative;
}

.product-description__container__right-block__image::after {
  content: "";
  position: absolute;
  bottom: -145px;
  right: -109px;

  width: 200px;
  height: 200px;

  background-image: url("../img/product-description-ellipse.svg");
  background-repeat: no-repeat;
}

.product-description__container__right-block__paragraph_color_blue {
  width: 90px;
  margin-top: 35px;
  margin-left: 200px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 21px;
  color: #145c9c;
  text-align: right;

}

.product-gallery {
  padding-top: 80px;
  padding-bottom: 62px;
  background-color: #145c9c;
}

.product-gallery__container__grid-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.product-gallery__container__item {
  width: 180px;
  padding-right: 15px;
  padding-left: 15px;
}

.product-gallery__container__item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.product-gallery__container__item__paragraph {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
}

.product-gallery .first_paragraph {
  position: relative;

  padding-left: 51px;
}

.product-gallery .first_paragraph::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 20px;

  width: 37px;
  height: 37px;

  background-image: url("../img/first-paragraph-img.png");
  background-repeat: no-repeat;
}

.product-history {
  padding-top: 71px;
  padding-bottom: 77px;

  background-image: url("../img/product-history-background.jpg");
  background-repeat: no-repeat;
}

.product-history__container__promo-text,
.product-history__container__paragraph_size_xl {
  color: #ffffff;
  text-transform: uppercase;
}

.product-history__container__promo-text {
  position: relative;

  padding-left: 41px;

  font-size: 30px;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 38px;
}

.product-history__container__promo-text::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 12px;

  width: 27px;
  height: 17px;

  background-image: url("../img/product-history-image.png");
  background-repeat: no-repeat;
}

.product-history__container__paragraph_size_xl {
  width: 540px;
  margin-top: 7px;
  margin-bottom: 51px;
  margin-left: -2px;

  font-weight: 100;
}

.product-history__container__btn {
  max-width: 150px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.main-footer {
  position: relative;

  padding-top: 47px;
  padding-bottom: 84px;

  background-color: #145c9c;
}

.main-footer__container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__container__menu__column {
  width: 205px;
  margin-right: 36px;

}

.main-footer__container__menu__column__header {
  margin-top: 0;
  margin-bottom: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #ededed;
}

.main-footer__container__menu__column__list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;

  list-style: none;
}

.main-footer__container__menu__column__list > .main-footer__container__menu__column__list__item:last-child {
  margin-bottom: 0;
}

.main-footer__container__menu__column__list__item {
  margin-top: 0;
  margin-bottom: 0;
}

.main-footer__container__menu__column__list__item__link {
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 35px;
  color: #85c0f6;
  text-decoration: none;
  text-transform: uppercase;
}

.main-footer__container__menu__column__paragraph_size_s {
  margin-top: 44px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #85c0f6;
  text-transform: uppercase;
}

.main-footer__container__copyright {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 333px;

  background-color: #0f4575;
}

.main-footer__container__copyright_paragraph {
  margin-top: 5px;
  margin-bottom: 4px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #87a2ba;
  text-align: center;
  text-transform: uppercase;
}