body {
  position: relative;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;


  @media #{$tablet-widths} {
    min-width: 668px;
  }

  @media #{$desktop-widths} {
    min-width: 1050px;
  }

  font-family: $font-stack;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $primary-text-color;

  background-color: $body-bg-color;
}

.first-header {
  margin-top: 0;

  @media #{$mobile-widths} {
    font-family: $header-font-family;
    font-size: 27px;
    color: $header-color;
    text-align: center;
  }

  @media #{$tablet-widths} {
    font-family: $header-font-family;
    font-size: 43px;
    line-height: 50px;
    color: $header-color;
    text-align: center;
  }

  @media #{$desktop-widths} {
    font-family: $header-font-family;
    font-size: 53px;
    line-height: 57px;
    color: $header-color;
    text-align: center;
  }
}

.second-header {
  margin-top: 0;

  @media #{$mobile-widths} {
    margin-left: -2px;

    font-family: $header-font-family;
    font-size: 25px;
    color: $header-color;
  }

  @media #{$tablet-widths} {
    margin-left: -4px;

    font-family: $header-font-family;
    font-size: 43px;
    line-height: 50px;
    color: $header-color;
    text-align: left;
  }

  @media #{$desktop-widths} {
    font-family: $header-font-family;
    font-size: 53px;
    line-height: 57px;
    color: $header-color;
    text-align: left;
  }
}

.third-header {
  @media #{$mobile-widths} {
    font-size: 18px;
    color: $header-color;
  }

  @media #{$tablet-widths} {
    font-family: $header-font-family;
    font-size: 43px;
    line-height: 50px;
    color: $header-color;
    text-align: left;
  }

  @media #{$desktop-widths} {
    font-family: $header-font-family;
    font-size: 53px;
    line-height: 57px;
    color: $header-color;
    text-align: left;
  }
}

.btn {
  display: block;

  color: $primary-text-color;
  text-align: center;
  text-decoration: none;
}

.text-btn {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;

  font-family: $header-font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: $secondary-line-height;
  color: $primary-text-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid #444444;

  &:hover {
    color: #ffffff;

    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #444444;
  }
}
