$body-bg-color: #ffffff;
$primary-bg-color: #ffffff;
$font-stack: "Open Sans", Verdana, sans-serif;
$primary-text-color: #444444;
$primary-font-size: 15px;
$secondary-font-size: 17px;
$primary-line-height: 30px;
$secondary-line-height: 20px;
$tertiary-line-height: 24px;
$header-color: #000000;
$header-font-family: "Open Sans Bold", Verdana, sans-serif;
$mint-color: #63d1bb;
$white-text-color: #ffffff;
$primary-padding: 9.375%;
$mobile-widths: #{"(max-width: 767px)"};
$tablet-widths: #{"(min-width: 768px)"};
$desktop-widths: #{"(min-width: 1150px)"};
$extended-desktop: #{"(min-width: 1250px)"};
