body {
  position: relative;

  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  color: $darkest-grey;

  background-color: $lightest-grey;
  overflow-x: hidden;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10%;
  box-sizing: border-box;

  @media (min-width: 1260px) {
    padding: 0 150px;
  }
}

.second-title {
  margin: 15px auto;

  font-size: 45px;
  line-height: $fifth-line-height;
  font-weight: 600;

  text-align: center;
}