$base-font-family: "Nunito", "Arial", sans-serif;
$base-font-size: 18px;
$base-line-height: 25px;

$first-font-size: 10px;
$second-font-size: 12px;
$third-font-size: 13px;
$fourth-font-size: 14px;
$fifth-font-size: 15px;
$sixth-font-size: 20px;
$seventh-font-size: 30px;
$eighth-font-size: 45px;
$ninth-font-size: 55px;

$first-line-height: 18px;
$second-line-height: 20px;
$third-line-height: 24px;
$fourth-line-height: 36px;
$fifth-line-height: 50px;
$sixth-line-height: 62px;

$grey: #c7c7c7;
$light-grey: #d1d1d1;
$lighter-grey: #e2e2e2;
$lightest-grey: #f5f5f5;
$dark-grey: #a6a5a5;
$darker-grey: #7a7a7a;
$darkest-grey: #585858;

$grey-blue: #7e9dac;

$blue: #4acaff;
$lightest-blue: #cee3f0;
$lighten-blue: #a4cce5;
$lighter-blue: #99b9ce;
$light-blue: #79d8ff;
$dark-blue: #3fb3e3;
$darker-blue: #3baedd;
$darken-blue: #2a7090;
$darkest-blue: #186487;

$navy: #3b5998;
$lighten-navy: #4b84d4;
$lightest-navy: #eceef5;
$lighter-navy: #cad4e7;

$darkest-navy: #131c25;