.catalogue-item {
  width: 100%;
  margin-bottom: 31px;
  box-sizing: border-box;

  border: 1px solid #e5e5e5;

  @media #{$tablet-widths} {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 53px;
  }

  @media #{$desktop-widths} {
    flex-direction: column;
    width: 30%;
    margin-bottom: 57px;

    &:hover {
      box-shadow: 0 5px 10px 5px #e8e8e8;
    }

    &:active {
      box-shadow: 0 3px 5px 1px #e8e8e8;
    }
  }

  &:first-of-type {
    .container {
      @media #{$tablet-widths} {
        padding-top: 54px;
      }

      @media #{$desktop-widths} {
        padding-top: 0;
      }
    }

    .catalogue-item__product-desc {
      @media #{$desktop-widths} {
        padding-bottom: 40px;
      }
    }
  }

  &:nth-of-type(2) {
    .container {
      @media #{$tablet-widths} {
        padding-top: 57px;
      }

      @media #{$desktop-widths} {
        padding-top: 0;
      }
    }

    .catalogue-item__product-desc {
      @media #{$tablet-widths} {
        padding-bottom: 172px;
      }

      @media #{$desktop-widths} {
        padding-bottom: 40px;
      }
    }
  }

  &:nth-of-type(3) {
    @media #{$desktop-widths} {
      margin-right: 1px;
    }

    .container {
      @media #{$tablet-widths} {
        padding-top: 79px;
      }

      @media #{$desktop-widths} {
        padding-top: 0;
      }
    }

    .catalogue-item__title {
      padding-right: 20%;

      @media #{$tablet-widths} {
        top: 7.8%;

        width: 30%;
        padding-right: 0;
      }

      @media #{$desktop-widths} {
        width: 80%;
      }
    }

    .catalogue-item__product-desc {
      @media #{$tablet-widths} {
        padding-bottom: 150px;
      }

      @media #{$desktop-widths} {
        padding-bottom: 16px;
      }
    }
  }

  .container {
    padding-right: 10.5%;
    padding-left: 10.5%;

    @media #{$tablet-widths} {
      order: 3;
      width: 50%;
      padding-right: 4%;
      padding-left: 4%;
    }

    @media #{$desktop-widths} {
      width: 100%;
      padding-right: 10%;
      padding-left: 8%;
    }
  }

  &:hover {
    .catalogue-item__title {
      opacity: 0.6;
    }

    .catalogue-item__btn {
      opacity: 1;
      fill: $mint-color;
    }
  }

  &:active {
    .catalogue-item__title {
      opacity: 0.3
    }

    .catalogue-item__btn {
      opacity: 0.3;
      fill: $mint-color;
    }
  }
}

.catalogue-item__link {
  text-decoration: none;

  @media #{$tablet-widths} {
    width: 50%;
  }

  @media #{$desktop-widths} {
    width: 100%;
  }
}

.catalogue-item__img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.catalogue-item__title {
  margin-top: 26px;
  margin-bottom: 6px;
  padding-right: 10.5%;
  padding-left: 10.5%;
  box-sizing: border-box;

  font-family: $header-font-family;
  font-size: 17px;
  line-height: $tertiary-line-height;
  color: #000000;

  @media #{$tablet-widths} {
    position: absolute;
    top: 7.5%;
    left: 54%;

    order: 2;
    width: 50%;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;

    font-size: 20px;
    line-height: $tertiary-line-height;
  }

  @media #{$desktop-widths} {
    position: static;

    width: 100%;
    margin-top: 29px;
    margin-bottom: 4px;
    padding-left: 8%;
  }
}

.catalogue-item__product-desc {
  margin-top: 0;
  margin-bottom: 18px;
  padding-bottom: 19px;
  box-sizing: border-box;

  font-size: 13px;

  border-bottom: 1px solid #e5e5e5;

  @media #{$tablet-widths} {
    margin-bottom: 19px;
    padding-bottom: 175px;

    font-size: $primary-font-size;
  }

  @media #{$desktop-widths} {
    margin-bottom: 18px;
    padding-bottom: 10px;

    font-size: $primary-font-size;
  }
}

.catalogue-item__desc-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @media #{$tablet-widths} {
    padding-left: 2%;
    padding-right: 1%;
  }

  @media #{$desktop-widths} {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 23px;
  }
}

.catalogue-item__product-price {
  margin-top: 0;
  margin-bottom: 0;

  font-family: $header-font-family;
  font-weight: 700;
  line-height: $tertiary-line-height;
  color: #000000;

  @media #{$tablet-widths} {
    font-size: $secondary-font-size;
  }
}

.catalogue-item__btn {
  width: 22px;
  height: 18px;

  opacity: 0.2;
}
