.catalogue-main {
  padding-top: 30px;
  padding-bottom: 58px;
  padding-right: $primary-padding;
  padding-left: $primary-padding;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    padding-top: 76px;
    padding-bottom: 63px;
    padding-right: 6.51%;
    padding-left: 6.6%;
  }

  @media #{$desktop-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 131px;
    padding-bottom: 102px;
    padding-right: 4.3%;
    padding-left: 4.3%;
  }
}
