.container {
  width: 100%;
  box-sizing: border-box;

  @media #{$mobile-widths} {
    padding-left: 9.375%;
    padding-right: 9.375%;
  }

  @media #{$tablet-widths} {
    padding-right: 6.51%;
    padding-left: 6.51%;

    .slim-block{
      padding: 0;
    }
  }

  @media #{$desktop-widths} {
    padding-right: 5%;
    padding-left: 5%;

    .slim-block{
      padding: 0;
    }
  }

  @media #{$extended-desktop} {
    padding-right: 10%;
    padding-left: 10%;

    .slim-block{
      padding: 0;
    }
  }
}
