.footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 4px;
  padding-right: 16%;
  padding-bottom: 25px;
  padding-left: 14%;
  box-sizing: border-box;

  border-bottom: 1px solid #e5e5e5;

  @media #{$tablet-widths} {
    width: 27%;
    margin-bottom: 0;
    margin-left: 12%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border: 0;
  }

  @media #{$desktop-widths} {
    width: 17%;
    margin-left: 7.2%;
  }
}

.footer-social__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f1f1f1;

  &:hover {
    .footer-social__svg {
      fill: #46c1ae;
    }
  }

  &:active {
    .footer-social__svg {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  &:first-of-type {
    .footer-social__svg {
      width: 22px;
      height: 22px;
    }
  }

  &:last-of-type {
    .footer-social__svg {
      width: 25px;
      height: 25px;
    }
  }
}

.footer-social__svg {
  width: 30px;
  height: 30px;
}
