.form-main {
  padding-top: 22px;

  @media #{$tablet-widths} {
    margin-top: -5px;
    padding-top: 76px;
  }

  @media #{$desktop-widths} {
    padding-top: 130px;
  }
}

.form-main__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: $primary-padding;
  padding-left: $primary-padding;

  font-size: 13px;
  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    margin-bottom: 50px;
    padding-right: 7.75%;
    padding-left: 6.75%;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }

  @media #{$desktop-widths} {
    width: 61%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
