.image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;

  @media #{$tablet-widths} {
    width: 57.4%;
    padding-right: 13.5%;
    box-sizing: border-box;
  }

  @media #{$desktop-widths} {
    order: 4;
    width: 100%;
    padding-right: 67.5%;
  }
}

.image-block__img {
  margin-bottom: 14px;

  @media #{$tablet-widths} {
    position: absolute;
    top: 24.6%;
    right: 6.6%;
  }

  @media #{$desktop-widths} {
    position: absolute;
    top: 52px;
    right: 4.35%;
  }
}

.image-block__img-text {
  margin-top: 0;
  margin-bottom: 26px;

  font-family: $header-font-family;
  font-size: $secondary-font-size;
  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    margin-bottom: 34px;

    font-size: 20px;
    line-height: $tertiary-line-height;
  }


  @media #{$desktop-widths} {
    margin-left: 0;
    padding-left: 5%;
  }
}
