.long-block {
  position: relative;

  width: 100%;
  padding-top: 26px;
  box-sizing: border-box;

  background-color: $primary-bg-color;

  @media #{$tablet-widths} {
    padding-top: 60px;
  }

  &--cut-border {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 6px;

      background-color: $primary-bg-color;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position: 50%;
    }

    @media #{$tablet-widths} {
      &::after {
        height: 15px;
      }
    }

    @media #{$desktop-widths} {
      &::after {
        height: 25px;

      }
    }
  }
}
