.main-header {
  position: relative;
}

.main-header__nav {
  @media #{$tablet-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  @media #{$desktop-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  @media #{$extended-desktop} {
    padding-right: 4%;
    padding-left: 4%;
  }

  .container {
    @media #{$tablet-widths} {
      padding: 0;
    }
    @media #{$desktop-widths} {
      padding: 0;
    }
  }

  &--closed {
    .main-header__toggle {
      @media #{$mobile-widths} {
        background-image: url("../img/icon-menu-open.svg");
      }
    }
  }

  &--opened {
    .main-header__toggle {
      @media #{$mobile-widths} {
        height: 18px;

        background-image: url("../img/icon-menu-close.svg");
      }
    }
  }

  &--nojs {
    .main-header__toggle {
      display: none;
    }
  }
}

@media #{$mobile-widths} {
  .main-header__nav--closed .main-header__nav-list {
    display: none;
  }

  .main-header__nav--opened .main-header__nav-list {
    &:first-of-type {
      position: absolute;
      top: 80px;
      left: 0;

      display: block;
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 216px;
      left: 0;

      display: block;
    }
  }

  .main-header__nav--nojs .main-header__nav-list {
    &:first-of-type {
      position: static;

      display: block;
    }

    &:nth-of-type(2) {
      position: static;

      display: block;
    }
  }
}

.main-header__toggle {
  position: absolute;
  top: 32px;
  right: 30px;

  display: block;
  width: 22px;
  height: 14px;

  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  border: none;

  @media #{$tablet-widths} {
    display: none;
  }

  @media #{$desktop-widths} {
    display: none;
  }
}

.main-header__logo {
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__nav-list {
  z-index: 5;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  @media #{$mobile-widths} {
    width: 100%;
  }

  @media #{$tablet-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }

  @media #{$desktop-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }

  &:first-of-type {
    @media #{$tablet-widths} {
      order: 2;
      width: 50%;
      padding-left: 6.51%;
      box-sizing: border-box;

      .slim-block {
        background-color: transparent;
        border: none;
      }

      .main-header__nav-item {
        width: 50%;
      }

      .main-header__nav-link {
        font-size: $primary-font-size;

        &--wry-layout {
          @media #{$desktop-widths} {
            padding-top: 27px;
            padding-bottom: 36px;
          }
        }
      }
    }

    @media #{$desktop-widths} {
      order: 1;
      width: 40%;
      padding-left: 4%;
      box-sizing: border-box;

      border-bottom: 1px solid #ececec;
      .main-header__nav-link {
        font-size: $secondary-font-size;
        border-bottom: none;
      }

      .main-header__nav-item {
        &:first-of-type {
          width: 46%;
          padding-left: 1%;
          box-sizing: border-box;

          border-right: 1px solid #ececec;
        }

        &:last-of-type {
          width: 54%;
          padding-left: 8%;
          box-sizing: border-box;
        }
      }
    }
  }

  &:nth-of-type(2) {
    @media #{$tablet-widths} {
      flex-wrap: wrap;
      width: 51.7%;
      padding-right: 6.51%;
      box-sizing: border-box;

      border-bottom: 1px solid #ececec;

      .main-header__nav-item {
        &:first-of-type {
          width: 23.6%;
        }

        &:last-of-type {
          width: 76.4%;
        }
      }
    }

    @media #{$desktop-widths} {
      order: 3;
      flex-wrap: wrap;
      width: 38%;
      padding-left: 3%;
      padding-right: 4%;
    }
  }

  &:last-of-type {
    @media #{$mobile-widths} {
      display: none;
    }

    @media #{$tablet-widths} {
      display: none;
    }

    @media #{$desktop-widths} {
      order: 4;
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      padding-left: 4.2%;
      box-sizing: border-box;

      .slim-block {
        padding-top: 17px;
        padding-bottom: 20px;

        font-size: 15px;

        background-color: transparent;
      }

      .main-header__nav-item {
        &:first-of-type {
          width: 42%;
        }
      }
    }
  }
}

.main-header__nav-item {
  &:hover {
    .main-header__nav-link {
      color: rgba(0, 0, 0, 0.6);
    }

    .main-header__svg {
      fill: $mint-color;
      opacity: 1;
    }
  }

  &:active {
    .main-header__nav-link {
      color: rgba(0, 0, 0, 0.3);
    }

    .main-header__svg {
      fill: $mint-color;
      opacity: 0.3;
    }
  }
}

.main-header__nav-link {
  font-family: $header-font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &--search-logo {
    position: relative;

    box-sizing: border-box;

    @media #{$tablet-widths} {
      padding-left: 0;
      padding-top: 32px;
      padding-bottom: 32px;

      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;

      border-left: 1px solid #ececec;
    }

    @media #{$desktop-widths} {
      padding-left: 26.58%;
      padding-top: 30px;
      padding-bottom: 34px;

      border-left: 1px solid #ececec;
    }
  }

  &--cart-logo {
    position: relative;

    box-sizing: border-box;

    @media #{$tablet-widths} {
      padding-left: 31%;
      padding-top: 31px;
      padding-bottom: 33px;

      border-left: 1px solid #ececec;
    }

    @media #{$desktop-widths} {
      padding-left: 30%;
    }

    @media #{$extended-desktop} {
      padding-left: 31%;
    }
  }
}

.main-header__svg {
  position: absolute;
  top: 36%;
  left: 10%;

  width: 21px;
  height: 21px;

  opacity: 0.3;

  &--search {
    @media #{$tablet-widths} {
      top: 39%;
      left: 39%;
    }
  }

  &--cart {
    @media #{$tablet-widths} {
      left: 12%;
    }
  }
}

.main-header__corner-text {
  box-sizing: border-box;

  @media #{$mobile-widths} {
    display: none;
  }

  @media #{$tablet-widths} {
    z-index: 2;

    order: 3;
    display: block;
    width: 50%;
    margin-top: 7px;
    padding-right: 6.51%;

    line-height: $tertiary-line-height;
    text-align: right;
  }

  @media #{$desktop-widths} {
    order: 5;
    margin-top: 12px;
    padding-right: 4.45%;
  }
}

.main-header__title-block {
  padding-top: 70px;
  padding-bottom: 76px;
  padding-right: 30px;
  padding-left: 28px;

  background-color: #f1f1f1;

  @media #{$tablet-widths} {
    margin-top: -65px;
    padding-top: 95px;
    padding-bottom: 83px;
    padding-left: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;

      width: 100%;
      height: 25px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: cover;
    }
  }

  @media #{$desktop-widths} {
    margin-top: -62px;
    padding-top: 94px;
    padding-bottom: 101px;

    &::after {
      bottom: -22px;

      height: 40px;
    }
  }

  .first-header {
    margin-bottom: 0;

    &--catalog {
      @media #{$mobile-widths} {
        margin-left: 0px;
      }

      @media #{$tablet-widths} {
        margin-left: 9px;
      }

      @media #{$desktop-widths} {
        margin-left: 3px;
      }
    }

    &--form {
      @media #{$tablet-widths} {
        margin-top: -2px;
      }

      @media #{$desktop-widths} {
        margin-top: 0;
      }
    }
  }
}
