.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #f1f1f1;

  @media #{$tablet-widths} {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  @media #{$desktop-widths} {
    padding-bottom: 48px;
  }

  .container {
    @media #{$tablet-widths} {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 6.51%;
      padding-left: 6.51%;
    }

    @media #{$desktop-widths} {
      padding-right: 4.4%;
      padding-left: 4.4%;
    }

    @media #{$extended-desktop} {
      padding-right: 8%;
      padding-left: 8%;
    }
  }
}

.main-footer__shop-logo {
  width: 100px;
  height: 40px;

  background-color: #f1f1f1;

  @media #{$mobile-widths} {
    display: none;
  }

  @media #{$tablet-widths} {
    display: block;
  }

  @media #{$desktop-widths} {
    width: 105px;
    padding-bottom: 4px;
  }

  &:hover {
    .main-footer__logo-svg {
      fill: $mint-color;
    }
  }

  &:active {
    .main-footer__logo-svg {
      fill: $mint-color;
      opacity: 0.3;
    }
  }
}

.main-footer__logo-svg {
  width: 100px;
  height: 40px;
}

.main-footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $header-font-family;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-decoration: none;

  &:hover {
    .main-footer__htmlacademy-logo {
      fill: #46c1ae;
    }
  }

  &:active {
    .main-footer__htmlacademy-logo {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.main-footer__htmlacademy-logo {
  width: 27px;
  height: 44px;
  margin-left: 30px;

  fill: $mint-color;
}
