.modal-block {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 105;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;

  background-color: #ffffff;
  border-top: 2px solid #c7c7c7;
  box-shadow: 0 30px 30px -30px #c6c6c6;

  @media #{$tablet-widths} {
    left: 13%;

    width: 74%;
    margin-right: auto;
    margin-left: auto;

    border: 2px solid #c7c7c7;
    box-shadow: 0 10px 50px 5px #c6c6c6;
  }

  @media #{$desktop-widths} {
    left: 27.2%;

    width: 45.6%;
    margin-right: auto;
    margin-left: auto;

    border: 2px solid #c7c7c7;
    box-shadow: 0 10px 50px 5px #c6c6c6;
  }
}

.modal-block .second-header {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    width: 100%;

    font-size: 30px;
  }
}

.modal-block__text {
  margin-top: 0;
  margin-bottom: 15px;

  text-align: center;
}

.modal-block__size-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  @media #{$tablet-widths} {
    justify-content: center;
  }

  @media #{$desktop-widths} {
    justify-content: center;
  }
}

.modal-block__size-btns > .modal-block__btn {
  display: inline-block;
  vertical-align: baseline;

  padding-top: 15px;
  padding-bottom: 15px;

  font-family: $header-font-family;
  font-size: $secondary-font-size;
  line-height: 16px;

  @media #{$tablet-widths} {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.modal-block__btn {
  width: 78px;

  background-color: $primary-bg-color;
  border: 2px solid #ececec;

  @media #{$tablet-widths} {
    width: 106px;
  }

  &--active {
    border-color: $mint-color;
  }

  &--mint {
    width: 100%;
    margin-bottom: 45px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: $secondary-font-size;
    line-height: 16px;
    color: #ffffff;

    background-color: $mint-color;
    border-color: $mint-color;

    @media #{$tablet-widths} {
      width: 72%;
      margin-right: auto;
      margin-left: auto;
    }

    @media #{$desktop-widths} {
      width: 78%;
    }
  }

  &:hover {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: $mint-color;
  }
}
