.product-article {
  position: relative;
  padding-top: 27px;
  padding-bottom: 41px;

  @media #{$tablet-widths} {
    padding-top: 48px;
    padding-bottom: 70px;
  }

  @media #{$desktop-widths} {
    padding-top: 104px;
    padding-bottom: 96px;
  }

  @media #{$extended-desktop} {
    background-size: 42% 81%;
    background-position: 86% 35%;
  }

  .container {
    @media #{$tablet-widths} {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    @media #{$desktop-widths} {
      padding-left: 19.6%;
      box-sizing: border-box;
    }

    @media #{$extended-desktop} {
      padding-left: 22%;
    }
  }

  .second-header {
    margin-bottom: 5px;
    margin-left: 0;

    @media #{$tablet-widths} {
      width: 85%;
      margin-bottom: 50px;
      margin-left: -4px;
    }

    @media #{$desktop-widths} {
      z-index: 1;
      order: 2;
      margin-left: 5.5%;
      margin-bottom: 49px;
    }
  }

  .table-block {
    @media #{$tablet-widths} {
      width: 50%;
      margin-bottom: 55px;
      padding-right: 6.51%;
      box-sizing: border-box;
    }

    @media #{$desktop-widths} {
      order: 4;
      margin-bottom: 109px;
      padding-right: 16.6%;
    }
  }
}

.product-article__promo-text {
  display: block;
  margin-bottom: 23px;

  font-family: $header-font-family;
  font-size: $secondary-font-size;
  font-weight: 700;
  line-height: $secondary-line-height;
  color: $mint-color;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    width: 12.3%;
    margin-bottom: 45px;

    line-height: 17px;
    text-align: center;
  }

  @media #{$desktop-widths} {
    order: 1;
    width: 10%;
    margin-left: -16%;

    line-height: 17px;
    text-align: center;
  }
}

.product-article__text {
  margin-bottom: 19px;
  box-sizing: border-box;

  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    width: 50.1%;
    margin-top: 0;
    margin-bottom: 36px;
    padding-right: 6.51%;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }

  @media #{$desktop-widths} {
    order: 3;
    margin-bottom: 49px;
    padding-right: 16%;
  }
}

.product-article__btn {
  @media #{$tablet-widths} {
    width: 43.7%;
    margin-left: -2px;
  }

  @media #{$desktop-widths} {
    order: 5;
    width: 33.8%;
    margin-left: 0;
  }

  @media #{$extended-desktop} {
    width: 34.4%;
  }
}
