.product-types {
  display: block;
  width: 100%;

  text-decoration: none;

  &--mint {
    background-color: $mint-color;
  }

  &--green {
    background-color: #56c3b2;
  }

  @media #{$tablet-widths} {
    width: 50%;
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;
    box-sizing: border-box;

    .product-types__text {
      &::after {
        opacity: 0.7;
      }
    }
  }

  &:active {
    .product-types__text {
      opacity: 0.3;
    }
  }
}

.product-types__text {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 26px;
  padding-right: 50%;
  padding-bottom: 29px;
  padding-left: 9%;

  font-family: $header-font-family;
  font-size: 19px;
  font-weight: 700;
  line-height: $tertiary-line-height;
  color: $white-text-color;

  @media #{$tablet-widths} {
    padding-top: 28px;
    padding-right: 50%;
    padding-bottom: 28px;
    padding-left: 10.7%;

    font-size: 20px;
    line-height: $primary-line-height;
  }

  @media #{$desktop-widths} {
    padding-bottom: 50px;
    padding-right: 70%;
    padding-left: 7%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    opacity: 0.5;
  }

  &--lamp {
    &::after {
      top: 21px;
      right: 37px;

      width: 40px;
      height: 66px;

      background-image: url("../img/icon-interior.svg");
    }

    @media #{$tablet-widths} {
      &::after {
        top: 28px;
        right: 36px;
      }
    }
  }

  &--cube {
    &::after {
      top: 20px;
      right: 27px;

      width: 60px;
      height: 62px;

      background-image: url("../img/icon-toy.svg");
    }

    @media #{$tablet-widths} {
      &::after {
        top: 31px;
        right: 34px;
      }
    }
  }
}
