.slim-block {
  display: flex;
  box-sizing: border-box;

  @media #{$mobile-widths} {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 22px;
    padding-left: 17.3%;
    padding-bottom: 21px;


    background-color: $primary-bg-color;
    border-bottom: 1px solid #ececec;

    &--menu {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }

  @media #{$tablet-widths} {
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding-top: 17px;
    padding-bottom: 24px;
    padding-left: 0;

    text-align: left;
  }

  @media #{$desktop-widths} {
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 0;

    text-align: left;
  }

  &--logo {
    padding-top: 22px;

    text-align: center;

    @media #{$mobile-widths} {
      padding-bottom: 13px;
      padding-left: 0;
    }

    @media #{$tablet-widths} {
      width: 48.3%;
      padding-top: 22px;
      padding-bottom: 11px;
      padding-left: 6.3%;
      box-sizing: border-box;

      text-align: left;

      border-bottom: 1px solid #ececec;
    }

    @media #{$desktop-widths} {
      z-index: 5;

      justify-content: center;
      align-items: center;
      width: 22%;
      order: 2;
      padding-top: 6px;
      padding-right: 24px;
      padding-bottom: 0;
      padding-left: 0;

      text-align: center;
    }
  }
}
